<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saishruti">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Bhajans_Songs.DisplayBhajanData"
            android:exported="false" />
        <activity
            android:name=".AppBarNavigation"
            android:exported="false" />
        <activity
            android:name=".Bhajans_Songs.contribute_activity.ContributeActivity"
            android:exported="false" />
        <activity
            android:name=".favourite.FavouriteItems"
            android:exported="false" />
        <activity
            android:name=".Bhajans_Songs.ListBhajans"
            android:exported="false"
            android:parentActivityName=".Bhajans_Songs.BhajanDashboard" />
        <activity
            android:name=".Bhajans_Songs.BhajanDashboard"
            android:exported="false"
            android:label="🎵 Dashboard"
            android:parentActivityName=".SelectProduct" />
        <activity
            android:name=".activity_login.CreateNewAccount"
            android:exported="false"
            android:label="Create New Account"
            android:parentActivityName=".activity_login.MainActivity" />
        <activity
            android:name=".SelectProduct"
            android:exported="false"
            android:label="Select Item"
            android:parentActivityName=".activity_login.MainActivity" />
        <activity
            android:name=".activity_login.MainActivity"
            android:exported="true"
            android:label="Sai Shruti">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>